h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 40px
}

h2 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 19px
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 18px
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 16px
}

body {
    background-color: #b0d0d8e8
}

h1 {
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px rgb(144, 212, 209);
}

img {
    display: block;
    margin: 0 auto;
}

nav {
    text-align: center;
    padding: 15px;
    background-color: #0b252ce8
}


aside {
    width: 19%;
    float: left;
    padding: 5px;
    background-color: #046b8ae8
}

section {
    width: 39%;
    float: left;
    padding: 5px;
    background-color: #80cbe2e8
}

article {
    width: 39%;
    float: left;
    padding: 5px;
    background-color: #489cb6e8
}

@media screen and (max-width:1000px){
    aside, section, article{
        width:100%
    }
}

.item
{
    float: left;
    border: #AAA 1px solid;
    padding: 10px;
    margin: 60px;
}

.item > img
{
    width: 310px;
    height: 241px;
    border: #666 1px solid;
    cursor: pointer;
}

.item > span
{
    display: block;
    text-align: center;
    margin-top: 10px;
}
